$background-color: #f6f6f6;

$component-background-color-dark: #f6f6f6;

$font-color: #313131;

$font-color-light: #707070;

$button-color-blue: #3470FF;

$pass-green: #22AC38;

$fail-red: #FF4D4F;

$warn-orange: #F8B551;

$normal-blue: #3470FF;

$divider-color: #EEEEEE;
