// 组件之间的间隔
$component-gap: 16px;

// 组件内部的间隔
$component-gap-inner: 8px;

// 组件圆角
$component-radius: 16px;

// 组件内部margin
$component-margin: 32px;

// 组件内部padding
$component-padding: 32px;

// 组件标准字号
$component-font-size: 28px;

// 组件标准big字号
$component-font-size-big: 38px;

// 组件标准small字号
$component-font-size-small: 18px;

// 填空组件标准高度
$component-input-height: 54px;

// 填空组件标准宽度
$component-input-size: 27px;
